@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Zetta|Ubuntu&display=swap');

body{
    background-color: #F3EFE0;
}

h1{
    
    font-family: 'Lexend Zetta', sans-serif;
}

h2{
    font-family: 'Ubuntu', sans-serif; 

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}

.imageProfile{
    height: 20vh;
}

/* .educations{
    box-sizing: border-box;
} */

.col-mid-1{
    width: 33.33333333%;
}
.col-mid-2{
    width: 66.66666667%;
}